# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [49]:
# Your code here
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
df.shape
dataFrame = pd.DataFrame(df)
dataFrame.dtypes
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '').astype(float) / 100
df.nunique()

object_columns = df.select_dtypes(include=[ 'object']).columns
for column in object_columns:
    print(f"Column: {column}")
    print(df[column].value_counts())
    print("\n")
    
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
numerical_range = df[numerical_columns].agg(['min', 'max'])
print(numerical_range)
# there are some type of info that is the same for example female, F and femal
mean_values = df[numerical_columns].mean()
print(f"This is the mean of the values {mean_values} ")
print("\n")

median_values = df[numerical_columns].median()
print(f"This is the median of the values {median_values}")
print("\n")

mode_values = df[numerical_columns].mode()
print(f"This is the median of the values {mode_values}")
print("\n")

summary = df[numerical_columns].describe()
print("This is the summary of the values")
print("\n")
print(summary)
print("\n")

#In  Customer Lifetime Value: the median (5,881.74) is below the mean (7,936.90), indicating a skewed distribution. Same with Monthly Premium Auto: the median is 83, well below the mean of 193.23
#In Income: the mean (39,295.70) and median (36,234) are close, indicating that the distribution may be fairly balanced. In Total CLaim Amount the median (354.73) is close to the mean (404.99)
#In Customer Lifetime Value there are a large range (up to 58,166.55)

for col in object_columns:
    print(f"{col}:\n{df[col].value_counts(dropna=False)}\n")

#There are a lot NaN that need to be fixed, also there are values that are some values that are the same or very similar but they are written a little bit different

Column: Customer
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64


Column: ST
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64


Column: GENDER
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64


Column: Education
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64


Column: Number of Open Complaints
Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64


Column: Policy Type
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64


Column: Vehicle Class
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64


     Customer Lifetime Value   Income  Monthly Premium Auto  \
min                2004.3507      0.0                  61.0
max               58166.5535  99960.0               35354.0

     Total Claim Amount
min            0.382107
max         2893.239678
This is the mean of the values Customer Lifetime Value     7936.902593
Income                     39295.701214
Monthly Premium Auto         193.234360
Total Claim Amount           404.986909
dtype: float64


This is the median of the values Customer Lifetime Value     5881.742350
Income                     36234.000000
Monthly Premium Auto          83.000000
Total Claim Amount           354.729129
dtype: float64


This is the median of the values    Customer Lifetime Value  Income  Monthly Premium Auto  Total Claim Amount
0                2514.5920     0.0                  65.0               321.6
1                4458.1134     NaN                   NaN                 NaN


This is the summary of the values


       Customer Lifetime Value        Income  Monthly Premium Auto  \
count              1068.000000   1071.000000           1071.000000
mean               7936.902593  39295.701214            193.234360
std                6434.784103  30469.427060           1601.190369
min                2004.350700      0.000000             61.000000
25%                4034.079950  14072.000000             68.000000
50%                5881.742350  36234.000000             83.000000
75%                8962.871975  64631.000000            109.500000
max               58166.553500  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678


Customer:
Customer
NaN        2937
KH59823       1
HQ82233       1
OL72737       1
ZQ59828       1
           ...
RO26085       1
ES57969       1
JK55587       1
RN97635       1
TA82973       1
Name: count, Length: 1072, dtype: int64

ST:
ST
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

GENDER:
GENDER
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

Education:
Education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

Number of Open Complaints:
Number of Open Complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64

Policy Type:
Policy Type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64

Vehicle Class:
Vehicle Class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [61]:
customer_locations_count = df['ST'].value_counts()
least_common_locations = customer_locations_count.nsmallest(5)
print(least_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [71]:
policy_type_count = df['Policy Type'].value_counts()
print(policy_type_count)
print(policy_type_count[:1])
most_sold_policy = policy_type_count.idxmax()
print(most_sold_policy)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Policy Type
Personal Auto    780
Name: count, dtype: int64
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [73]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']
personal_auto_avg_income = personal_auto_df['Income'].mean()
corporate_auto_avg_income = corporate_auto_df['Income'].mean()
print("Average Income for Personal Auto policies:", personal_auto_avg_income)
print("Average Income for Corporate Auto policies:", corporate_auto_avg_income)

Average Income for Personal Auto policies: 38180.69871794872
Average Income for Corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here